@import url("https://fonts.googleapis.com/css?family=Lato");
*,
*:before,
*:after { /* Slow, yes I know :) */
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Lato, Sans-serif;
  font-size: 12px;
  background: #353138;
  background: radial-gradient(ellipse at center, #353138 0%, #1a181c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = "#353138", endColorstr="#1a181c", GradientType=1);
}

.container {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  -ms-perspective: 1500px;
  perspective: 1500px;
  position: relative;
}

.toggle {
  color: #fff;
  display: inline-block;
  line-height: 16px;
  font-size: 20px;
  float: left;
}

.menu {
  margin: 100px auto;
  position: relative;
  background: #62278d;
  background: linear-gradient(to bottom, #62278d 0%, #2cc09b 100%);
  width: 300px;
  border-width: 20px 0;
  border-style: solid;
  border-color: #fff;
  color: #fff;
  height: 540px;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 50px 0 #444;
}

input.toggle:checked ~ .menu {
  transform: translateY(-150px) rotateX(45deg) rotateZ(45deg);
}

.menu:before {
  content: "";
  position: absolute;
  height: 30px;
  width: 300px;
  top: 520px;
  left: 0px;
  transform: rotateX(90deg) translateY(-15px) translateZ(15px);
  background: #fff;
  pointer-events: none;
}

.menu:after {
  content: "";
  position: absolute;
  height: 540px;
  width: 30px;
  top: -20px;
  right: -30px;
  transform: rotateY(90deg) translateZ(-15px) translateX(15px);
  border-width: 20px 0;
  border-style: solid;
  border-color: #fff;
  background: #62278d;
  background: linear-gradient(to bottom, #62278d 0%, #2cc09b 100%);
  pointer-events: none;
}

.menu .top {
  padding: 15px 15px 15px 20px;
  width: 100%;
}

.menu .top .search {
  position: relative;
  display: inline-block;
}

.menu .top .search input {
  background-color: transparent;
  transition: all 100ms ease-in-out;
  color: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px 30px 10px 15px;
  outline: 0 none;
  width: 60px;
  height: 40px;
  position: relative;
  transform: translateZ(1px);
  z-index: 2;
}

.menu .top .search input:focus {
  width: 200px;
  color: #fff;
}

.menu .top .search:after {
  content: "\f002";
  font-family: "FontAwesome";
  font-size: 16px;
  position: absolute;
  color: #fff;
  top: 11px;
  right: 18px;
  width: 20px;
  height: 20px;
  pointer-events: none;
  transform: translateZ(1px);
  z-index: 1;
}

.menu .top .exit {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  outline: 0 none;
  float: right;
  cursor: pointer;
  transform: translateZ(1px);
  z-index: 2;
}

.menu .top .exit:focus,
.menu .top .exit:active {
  border: 1px solid #fff;
  border-radius: 20px;
}

.menu .top .exit:before {
  content: "";
  pointer-events: none;
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: 14px;
  left: -6px;
  border-width: 0 2px 0 0;
  border-style: solid;
  border-color: #fff;
  transform: rotate(-45deg);
  z-index: 1;
}

.menu .top .exit:after {
  content: "";
  pointer-events: none;
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: -6px;
  left: -6px;
  border-width: 0 2px 0 0;
  border-style: solid;
  border-color: #fff;
  transform: rotate(45deg);
}

.menu .middle {
  position: relative;
  min-height: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  transform-style: preserve-3d;
}

.menu .middle li {
  margin: 0;
  padding: 15px 0 15px 40px;
  outline: 0 none;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(1px);
  z-index: 1;
}

.menu .middle li:hover {
  box-shadow: inset 0 0 80px 0 rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.menu .middle li:hover:before,
.menu .middle li:focus:before {
  content: "\f0da";
  font-family: "FontAwesome";
  font-size: 16px;
  position: absolute;
  top: 15px;
  left: 20px;
}

.menu .middle li:focus,
.menu .middle li:focus:after {
  color: #3EAC9E;
  background-color: #62278d;
}

.menu .middle li .fa {
  padding-right: 15px;
}

.menu .middle li:focus:after,
.menu .middle li:hover:after {
  content: "";
  position: absolute;
  height: 48px;
  width: 30px;
  top: 0px;
  right: -30px;
  transform: rotateY(90deg) translateZ(-14px) translateX(15px);
  pointer-events: none;
}

.menu .middle li:hover:after {
  box-shadow: inset 0 0 80px 0 rgba(255, 255, 255, 0.3);
}

.menu .bottom {
  height: 40px;
}

.menu-back {
  position: absolute;
  background: transparent;
  top: -20px;
  left: 0;
  width: 300px;
  height: 540px;
  transform: translateZ(-29px);
  box-shadow: 100px 100px 50px -30px #111;
  z-index: 0;
}

.glass-reflection {
  position: absolute;
  transition: box-shadow 1s;
  transform: rotateZ(-1deg) translateZ(1px) skewY(60deg);
  box-shadow: inset 0px -40px 0px -50px rgba(255, 255, 255, 0);
  border-radius: 200px 0 20px 0;
  top: 85px;
  left: 95px;
  width: 200px;
  height: 100px;
  background-color: transparent;
}

input.toggle:checked ~ .menu .glass-reflection {
  box-shadow: inset 0px -40px 150px -50px rgba(255, 255, 255, 0.15);
}/*# sourceMappingURL=main.css.map */